body {
  font-family: 'Quando', serif;
  background-color: #ddd;
  padding-bottom: 200px;
}

#links {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
}

#links > li {
  padding: 0 0.5em;
}

.page-content {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
