@font-face {
	font-family: "Equity Text A";
	src: url("/fonts/equity_text_a_regular.woff") format("woff");
}

@font-face {
	font-family: "Equity Text A";
	src: url("/fonts/equity_text_a_bold.woff") format("woff");
	font-weight: bold;
}

@font-face {
	font-family: "Equity Text A";
	src: url("/fonts/equity_text_a_italic.woff") format("woff");
	font-style: italic;
}

@font-face {
	font-family: "Equity Text A";
	src: url("/fonts/equity_text_a_bold_italic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Concourse T4";
	src: url("/fonts/concourse_t4_regular.woff") format("woff");
}

@font-face {
	font-family: "Concourse T4";
	src: url("/fonts/concourse_t4_bold.woff") format("woff");
	font-weight: bold;
}

@font-face {
	font-family: "Concourse T4";
	src: url("/fonts/concourse_t4_italic.woff") format("woff");
	font-style: italic;
}

@font-face {
	font-family: "Concourse T4";
	src: url("/fonts/concourse_t4_bold_italic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

html {
	font-size: 18px;
}

@media all and (max-width: 770px) {
	#sidebar {
		text-align: center;
	}

	.link-list {
		display: flex;
		justify-content: space-evenly;
		margin-top: 0;
	}

	.link-list li {
		margin: 1px;
	}

	body {
		background: url("/img/vbg.png") repeat-x;
	}

	#main {
		margin: 5px
	}
}

@media all and (min-width: 771px) {
	body {
		background: url("/img/bg.png") repeat-y;
	}

	#sidebar {
		position: fixed;
		margin-left: 10px;
		width: 140px;
	}

	#main {
		margin-left: 160px;
		margin-right: 10px;
		width: 600px;
	}
}

body {
	font-family: "Equity Text A", serif;
	hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, .link-header {
	font-family: "Concourse T4", sans-serif;
}

a {
	outline: none;
	text-decoration: none;
}

a:hover {
	border-bottom: 1.5px solid;
	background: rgb(210, 210, 255);
}

.link-header {
	font-weight: bold;
	font-size: 1.3rem;
}

.link-list {
	list-style-type: none;
	padding: 0;
}

#sidebar a {
	color: black;
}

#sidebar a:hover {
	border-bottom: 1.5px solid;
	background: transparent;
}

code {
	hyphens: none;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	font-family: 'Fira Mono', monospace;
	font-size: 0.8rem;
	background-color: #eee;
}

pre {
	background-color: #eee;
}

.author-note > p::before {
	content: "[";
}

.author-note > p::after {
	content: "]";
}

.author-note {
	font-style: italic;
	font-size: 0.8rem;
	color: #1e1e1e;
}
