<!doctype html>
<html lang="en-gb">

<head>
  <meta charset="utf-8">
  <title>inv.alid.pw$if(title)$ - $title$$endif$</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="alternate" type="application/atom+xml" href="/atom.xml">
  <link rel="alternate" type="application/rss+xml" href="/rss.xml">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/js/MathJax-2.7.2/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
  <!-- Matomo -->
  <script type="text/javascript">
	var _paq = _paq || [];
	/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//stats.inv.alid.pw/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
  </script>
  <!-- End Matomo Code -->
</head>

<body>

  <nav id="sidebar">
	<span class="link-header">Links</span>
	<ul class="link-list">
	  <li><a href="/">Home</a></li>
	  <li><a href="/posts/">Post archive</a></li>
	  <li><a href="/about/">Colophon</a></li>
	</ul>
	<span class="link-header">Elsewhere</span>
	<ul class="link-list">
	  <li><a href="https://twitter.com/jshholland">Twitter</a></li>
	  <li><a href="https://github.com/jshholland">Github</a></li>
	  <li><a href="https://bitbucket.org/dutchie">Bitbucket</a></li>
	  <li><a href="https://www.goodreads.com/jshholland">Goodreads</a></li>
	</ul>
  </nav>

  <div id="main">
	$body$
  </div>

</body>

</html>
