<!doctype html>
<html lang="en-gb">

<head>
  <meta charset="utf-8">
  <title>inv.alid.pw$if(title)$ - $title$$endif$</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/syntax.css">
</head>

<body>

  <nav id="sidebar">
	<span class="link-header">Links</span>
	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="/posts/">Post archive</a></li>
	  <li><a href="/about/">Colophon</a></li>
	</ul>
	<span class="link-header">Elsewhere</span>
	<ul>
	  <li><a href="https://twitter.com/jshholland">Twitter</a></li>
	  <li><a href="https://github.com/jshholland">Github</a></li>
	  <li><a href="https://bitbucket.org/dutchie">Bitbucket</a></li>
	  <li><a href="https://www.goodreads.com/jshholland">Goodreads</a></li>
	</ul>
  </nav>

  <div id="main">
	$body$
  </div>

</body>

</html>
